<%= render layout: 'shared/message_block', locals: { title: 'Request Error'} do %>
    <p>Looks like whatever you were sending couldn't be processed.  Sorry!  Here's a <%= link_to 'homepage', root_path %> link.</p>
<% end %>