---
http_interactions:
- request:
    method: post
    uri: https://api.pushover.net/1/messages.json
    body:
      encoding: UTF-8
      string: user=&token=arwsXUzrBgWJ4j44YjqMgqvqmCLvJP&message=This%20will%20fail.
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Limit-App-Limit:
      - '7500'
      X-Limit-App-Remaining:
      - '7477'
      X-Limit-App-Reset:
      - '1430456400'
    body:
      encoding: UTF-8
      string: '{"user":"invalid","errors":["user identifier is not a valid user, group,
        or subscribed user key"],"status":0,"request":"5392a157f6ea61033dfd0057b4dbfa9e"}'
  recorded_at: Mon, 27 Apr 2015 15:24:20 GMT
recorded_with: VCR 2.9.3
